#about {
	width: auto;
	height: 600px;
	margin: 0 auto;
}


/*绝对定位竖线*/

#about_line_1 {
	position: absolute;
	left: 50%;
	margin-left: -405px;
}

#about_line_2 {
	position: absolute;
	left: 50%;
	margin-left: 23px;
}

#about_line_3 {
	position: absolute;
	left: 50%;
	margin-left: 405px;
}

#about_top {
	width: 1024px;
	height: 140px;
	margin: 0 auto;
	background-color: #1A1A1A;
}


/*首页-中部内容*/

#about_center {
	width: 1024px;
	height: 460px;
	margin: 0 auto;
	background-color: #1A1A1A;
}

#about_us {
	float: left;
	padding-left: 127px;
	padding-top: 80px;
	text-align: left;
	width: 535px;
	height: 460px;
}

.about_us_p1 {
	color: #686868;
	font-size: 15px;
}

.about_us_p2 {
	color: #9F9F9F;
	font-size: 20px;
}

.about_us_p3 {
	color: #363636;
	font-size: 15px;
}

#contact_us {
	float: left;
	padding-left: 20px;
	padding-top: 80px;
	text-align: left;
	width: 489px;
	height: 460px;
}

.contact_us_p1 {
	color: #626262;
	font-size: 15px;
}

.contact_us_p2 {
	color: #919191;
	font-size: 20px;
}