#model {
	width: 1024px;
	height: 600px;
	margin: 0 auto;
}

#model_left {
	width: 84px;
	height: 600px;
	margin: 0 auto;
	float: left;
	background-color: #FFFFFF;
	padding-top: 65px;
	padding-left: 65px;
}
.model_p1{
	color: #7B7B7B;
	font-size: 15px;
}
.model_p2{
	color: #4B4B4B;
	font-size: 20px;
}
.model_p3{
	color: #C0C0C0;
	font-size: 15px;
}
#model_center {
	width: 525px;
	height: 600px;
	margin: 0 auto;
	float: left;
	padding-top: 200px;
}
#model_right {
	width: 415px;
	height: 600px;
	margin: 0 auto;
	float: left;
	margin-left: -28px;
	padding-top: 140px;
}
#model_right img{
	width: 443px;
}
