.nav_top{
	width: 1024px;
	height: 80px;
	text-align: center;
	margin: 0 auto;
	background:rgba(255, 255, 255, 0.3) !important;
	filter:Alpha(opacity=50);
}
#nav_top_left{
	float: left;
	width:320px;
	height:140px;
}
#logo{
	float: left;
	margin-left: 60px;
	margin-top: 20px;
}
#nav_top_right{
	float: left;
	width: 704px;
	height: 140px;
}
#nav_top_right div a{
	text-decoration:none;
	color: #000000;
	font-weight: bold;
}
.line{
	float: left;
	padding-left: 0px;
	padding-top: 35px;
	padding-right: 47px;
}