body{
	margin: 0;
}
div{
	position: relative;
}
img{
	width: 100%;
	border: none;
	vertical-align: top;
}
a {
	display: inline-block;
	position: absolute;
	top: 0;
	width: 8%;
	height: 6%;
	cursor: pointer;
}